.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
  margin: 20px;
}

.input {
  display: flex;
  width: 150px;
  justify-content: space-between
}